[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/swayidle -w \
    timeout 150 'brightnessctl -s set 10' resume 'brightnessctl -r' \
    timeout 300 "loginctl lock-session" \
    timeout 330 'niri msg action power-off-monitors' resume 'niri msg action power-on-monitors' \
    timeout 900 'systemctl suspend' \
    before-sleep "loginctl lock-session" \
    after-resume 'niri msg action power-on-monitors' \
    lock '%h/.local/bin/lock_session.sh'
Restart=on-failure
RestartSec=5s
KillMode=control-group
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
