[Unit]
Description=SWWW Wallpaper Daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swww-daemon
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
